---
import member_1 from '../assets/images/member-1.webp';
import member_2 from '../assets/images/member-2.webp';
import member_3 from '../assets/images/member-3.webp';
import member_4 from '../assets/images/member-4.webp';
import user from '../assets/images/user.webp';
---

<section id="team" class="team__container">
    <div class="team__background"></div>
    <div class="team__group">
        <h1 class="section__title text-center">We Have Awesome <span class="text-primary">Team</span> to Help</h1>
        <div class="team__grid">
            <div class="member__card">
                <div class="member__header">
                    <div class="member__image">
                        <img src={member_1.src} alt="">
                    </div>
                </div>
                <div class="member__content">
                    <h3>
                        Timothy Harper
                        <span class="member__rol">Agro Engineer</span>
                    </h3>
                    
                    <div class="member__phone">
                        <i class="ri-phone-fill"></i> +097 458 787 965
                    </div>
                    <a href="" class="member__link">
                        Read More <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
            </div>
            <div class="member__card">
                <div class="member__header">
                    <div class="member__image">
                        <img src={member_2.src} alt="">
                    </div>
                </div>
                <div class="member__content">
                    <h3>
                        Edgar Collins
                        <span class="member__rol">Agricultural Engineer</span>
                    </h3>
                    
                    <div class="member__phone">
                        <i class="ri-phone-fill"></i> +097 458 787 965
                    </div>
                    <a href="" class="member__link">
                        Read More <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
            </div>
            <div class="member__card">
                <div class="member__header">
                    <div class="member__image">
                        <img src={member_3.src} alt="">
                    </div>
                </div>
                <div class="member__content">
                    <h3>
                        Rowena Reccoba
                        <span class="member__rol">Environmental Engineer</span>
                    </h3>                    
                    <div class="member__phone">
                        <i class="ri-phone-fill"></i> +097 458 787 965
                    </div>
                    <a href="" class="member__link">
                        Read More <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>            
            </div>
            <div class="member__card">
                <div class="member__header">
                    <div class="member__image">
                        <img src={member_4.src} alt="">
                    </div>
                </div>
                <div class="member__content">
                    <h3>
                        Alfred Zommer
                        <span class="member__rol">Data Analyst</span>
                    </h3>                    
                    <div class="member__phone">
                        <i class="ri-phone-fill"></i> +097 458 787 965
                    </div>
                    <a href="" class="member__link">
                        Read More <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="feed__group">
        <h1 class="section__title text-center text-white">What do our customers say?</h1>
        <div class="feedback__grid">
            <div class="feedback__card">
                <div class="feedback__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad odit eaque molestiae corporis quasi repudiandae dicta quod debitis at reiciendis maxime eum ipsam necessitatibus voluptatum dolores maiores, eos ea neque.
                </div>
                <div class="feedback__user">
                    <img src={user.src} alt="">
                    <h3>
                        Albert Webster
                    </h3>
                    <span class="feedback__user__rol">Student</span>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .team__container {
        min-height: 100vh;
        padding: 2.5rem 0 .5rem 0;
        position: relative;    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .team__background {
        height: 400px;
        width: 100%;
        background: url('../assets/images/team-cover.jpg');
        background-position: center;
        z-index: -1;
        position: relative;
    }
    .team__background::after {
        content: '';
        position: absolute;
        top: 0;
        height: 400px;
        width: 100%;
        background: var(--optional);
        z-index: 1;
        opacity: .4;
    }
    .team__group {
        position: absolute;
        top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team__grid {
        max-width: var(--max-width);
        z-index: 1;
        width: 100%;
        display: grid;
        margin-top: 2rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 .4rem;
    }
    .member__card {
        background: #fff;
        border-radius: 10px;
        height: 380px;
        max-height: 380px;
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .member__header {
        display: flex;
        align-items: center;
        align-items: flex-end;
        justify-content: center;
        height: 50%;
    }
    .member__image {
        height: 152px;
        width: 152px;
        padding: 6px;
        border-radius: 50%;
        display: inline-block;
        background: #fff;
        border: 1px dashed var(--primary-color);
    }    
    .member__image img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    .member__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem 0;
        justify-content: center;
        height: 50%;
    }
    .member__content h3 {
        font-size: 1.3rem;
        font-weight: 800;
        line-height: 1.5rem;
        text-align: center;
        color: var(--text-dark);
    }
    .member__content h3 span {
        display: block;
        font-size: .9rem;
        line-height: 0.75rem;
        color: var(--text-gray);
        font-weight: 500;
        text-align: center;
        margin-top: 5px;
    }
    .member__content .member__rol {
        font-size: .9rem;
        line-height: 0.75rem;
        color: var(--text-gray);
        font-weight: 500;
        text-align: center;
    }
    .member__content .member__phone {
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        color: var(--text-dark);
    }
    .member__content .member__phone i,
    .member__content .member__phone span {
        margin-right: 4px;
    }
    .member__link {
        font-size: .95rem;
        font-weight: 600;
        color: var(--text-dark);
        transition: .1s;
    }
    .member__link:hover {
        color: var(--primary-color-dark);
    }
    .feed__group {
        position: absolute;
        bottom: 8rem;
    }
    .feedback__grid {
        margin-top: 1.5rem;
        max-width: calc(var(--max-width)/2);
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feedback__card {
        width: 100%;
        border-radius: 8px;
        background: #fff;
        padding: 1rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .feedback__text {
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--text-gray);
        text-align: center;
    }
    .feedback__user {
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feedback__user img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .feedback__user h3 {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 800;
    }
    .feedback__user__rol {
        color: var(--text-gray);
        font-size: .95rem;
        font-weight: 500;
    }
    @media (width < 1200px) {
        .team__grid {
            /* grid-template-columns: repeat(3, 1fr); */
        }
    }
</style>